[Unit]
Description=Spring Pet Clinic Application
After=network.target

[Service]
Type=simple
ExecStart=/app/start_app.sh
Restart=on-failure
RestartSec=12
TimeoutStartSec=36
StandardOutput=journal
StandardError=journal
Environment=JAVA_HOME=/usr/lib/jvm/java-17-openjdk-amd64
SuccessExitStatus=0 1

[Install]
WantedBy=multi-user.target